body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(imagem\ login.jpeg);
    background-size: cover;
    background-position: center;
}

#caixaPrincipal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 580px;
    width: 400px;
    border-radius: 20px;
}

#tituloLogin {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'Exo 2', sans-serif;
}

#tituloLogin p {
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ajusteBarra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ajuste2Barra {
    width: 300px;
    height: 20px;
    font-size: 16px;
}

.ajusteTextosLogin {
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

#ajusteManter-seConectado {
    display: flex;
    flex-direction: row;
}

#ajusteTextoManter-se {
    margin-left: 45px;
    font-family: 'Exo 2', sans-serif;
    margin-top: 17px;
    margin-right: 5px;
}

#checkbox {
    margin-top: 7px;
}

#ajusteBotaoLogar {
    display: flex;
    justify-content: center;
}

#botaoLogar {
    margin-top: 5px;
    width: 310px;
    border: none;
    border-radius: 10px;
    height: 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: gray;
    font-family: 'Exo 2', sans-serif;
    transition: all 0.2s;
}

#botaoLogar:hover {
    background-color: rgb(99, 98, 98);
    color: white;
}

#botaoLogar:active {
    background-color: rgb(80, 79, 79);
    color: white;
}

#ajusteNaoTenhoConta {
    display: flex;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    cursor: pointer;
}

#textDecoration {
    text-decoration: none;
    color: inherit;
}

#botaoGoogle {
    font-family: 'Exo 2', sans-serif;
    border: none;
    height: 50px;
    width: 300px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

#botaoGoogle:hover {
    background-color: rgb(224, 222, 222);
}

#botaoGoogle:active {
    opacity: 0.7;
}


#ajusteImagemGoogle {
    height:20px;
    position: relative;
    top: 3px;
    right: 15px;
}

#botaoFacebook {
    background-color: rgb(46, 46, 150);
    color: white;
    font-family: 'Exo 2', sans-serif;
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

#botaoFacebook:hover {
    background-color: rgb(36, 36, 117);
}

#botaoFacebook:active {
    opacity: 0.9;
}

#ajusteImagemFacebook {
    height:20px;
    position: relative;
    top: 3px;
    right: 15px;
}

#ajusteBotoesLogarCom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}